<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>main.resources.controllers.DisplayImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>

<!--  <filter>-->
<!--    <filter-name>CorsFilter</filter-name>-->
<!--    <filter-class>main.resources.controllers.CORSFilter</filter-class>-->
<!--  </filter>-->
<!--  <filter-mapping>-->
<!--    <filter-name>CorsFilter</filter-name>-->
<!--    <url-pattern>*</url-pattern>-->
<!--  </filter-mapping>-->
</web-app>
